@charset "UTF-8";

body{
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #DAA520 ;
    text-align: center;
}

p{
    color: #DAA520;
}

h2{
    color: green;
}

h2#html{
    color: white;
}

h2#css{
    color: red;
}

h3{
    color: #00A7E1;
}